{{ $input := . }}


<article class="judge-avatar-container">
    {{- partial "shaped-image.html" (
        dict
        "imageResource" $input.avatarResource
        "imageAlt" $input.avatarAlt
        )
    }}

    {{- if (or $input.githubUrl $input.xUrl $input.companyUrl) }}
        {{ $ariaLabel := T "judges_page.social_links" $input.avatarAlt }}

        {{- partial "social-links.html" (
            dict
            "githubUrl" $input.githubUrl
            "xUrl" $input.xUrl
            "companyUrl" $input.companyUrl
            "linkClass" "judge-avatar-container__social-link"
            )
        }}
    {{- end }}
</article>
