<section class="organizer-list">
    <div class="section">
        <h1 class="heading heading--highlighted heading--centered">
            {{ T "organizers_page.heading" }}
        </h1>
        <h2 class="heading heading--2 heading--centered">
            {{ T "organizers_page.subheading" }}
        </h2>
        <menu class="organizer-list__menu">
            {{ range sort (where .Site.RegularPages "Section" "organizers") "Title" }}
                <li class="organizer-list__item">
                    {{- partial "organizer-card.html" (
                        dict
                        "position" .Params.position
                        "expertise" .Params.expertise
                        "avatarResource" .Params.avatarResource
                        "name" .Title
                        "description" .Params.description
                        "githubUrl" .Params.githubUrl
                        "xUrl" .Params.xUrl
                        "companyUrl" .Params.companyUrl
                        "linkedinUrl" .Params.linkedinUrl
                        "profileUrl" .RelPermalink
                        )
                    }}
                </li>
            {{ end }}
        </menu>
    </div>
</section>
