{{ define "main" }}
    <section class="judge-list">
        <div class="section">
            <h1 class="heading heading--1">{{ T "judges_page.heading" }}</h1>
            <menu class="judge-list__menu">
                {{ range sort (where .Site.RegularPages "Section" "judges") "Title" }}
                    <li class="judge-list__item">
                        {{- partial "judge-card.html" (
                            dict
                            "profileUrl" .RelPermalink
                            "avatarResource" .Params.avatarResource
                            "name" .Title
                            "position" .Params.position
                            "expertise" .Params.expertise
                            "description" .Params.description
                            "githubUrl" .Params.githubUrl
                            "xUrl" .Params.xUrl
                            "companyUrl" .Params.company
                            )
                        }}
                    </li>
                {{ end }}
            </menu>
        </div>
    </section>
{{ end }}
