.judge-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.75rem;
}

.judge-list__menu {
    all: unset;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    gap: .9rem;
}

@media screen and (max-width: 992px) {
    .judge-list__menu {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .judge-list__menu {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .judge-list__menu {
        grid-template-columns: repeat(1, 1fr);
    }

}

.judge-list__item {
    width: 100%;
    max-width: 16.875rem;
    margin: 0 auto;
}

.organizer-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.75rem;
}

.organizer-list__menu {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    gap: 1.875rem;
}

.organizer-list__item {
    width: 100%;
    max-width: 16.875rem;
    /* Matches the width of the judge card */
}