.single-judge-section {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2.625rem;
}

@media screen and (width < 768px) {
    .single-judge-section {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}

.single-judge-section__avatar {
    color: var(--color-primary);
    max-width: 50%;
}

.single-judge-section__biography {
    flex-grow: 1;
    flex-basis: 16.375rem;
}

.judge-sessions-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2.625rem;
}

.judge-sessions-section__heading {
    all: unset;
    font-size: 2.25rem;
    font-weight: 700;
    color: var(--color-primary);
}

.judge-sessions-section__hashtag {
    font-weight: 900;
}

/* Organizers */

.single-organizer-section {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2.625rem;
}

@media screen and (width < 768px) {
    .single-organizer-section {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}
