{{ $input := . }}


<section
    class="event-title-section"
    {{- with resources.Get $input.backgroundImage }}
        style="background-image: url('{{ .RelPermalink }}');"
    {{ end }}>
    <div class="event-title-section__header">
        <h1 class="event-title-section__heading">
            {{- $input.title }}
        </h1>
        <h2 class="event-title-section__subheading">
            {{- $dateFormat := "1月2日" }}
            {{- if eq $input.Language "en" }}
                {{- $dateFormat = "January 2" }}
            {{- end }}

            {{- with $input.startDate }}
                {{- . | time.AsTime | time.Format $dateFormat }}
            {{- end }}
            {{- if and $input.startDate $input.endDate }}
                〜
            {{- end }}
            {{- with $input.endDate }}
                {{- . | time.AsTime | time.Format $dateFormat }}
                <br />
            {{- end }}
            @{{ $input.location }}
        </h2>
    </div>
    <!--
    <script
        src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"></script> -->

    {{- with $input.registeredAttendees }}
        <div class="event-title-section__registered-attendees">
            {{- $input.registeredAttendees | markdownify }}
            <span>
                (
                <a href="https://lu.ma/eaqsohir" target="_blank" rel="noopener noreferrer">Lu.ma</a>
                /
                <a href="https://engineercafe.connpass.com/event/348799/" target="_blank" rel="noopener noreferrer">connpass</a>
                )
            </span>
        </div>
    {{- end }}
    <!-- <button _="on click increment :x
            if :x <= 3
            put :x into the next <output/>
            else
            put '3 is the max...' into the next <output/>
            end">We Are a button</button> -->
    <!--
    <div class="event-title-section__subheading">Total: </div><div class="event-title-section__subheading" _="
    on load
        repeat forever
            // log the next <output/>
            increment :count
            
            // wait 10s then put :count into my.innerText
            wait 20s then fetch 'https://lu.ma/eaqsohir' with mode:'no-cors' then put the .jsx-4155675949 of its result into  my.innerText
            // wait 10s then put :count into the next <output/>
        end
    end
    ">
    </div> -->
    <!--
    <button hx-get="https://lu.ma/eaqsohir" hx-target="#myDiv">
    Fetch Content
    </button>
    <div id="myDiv">
    This div will be updated with the fetched content.
    </div>
-->

    <!-- <div class="event-title-section__footer">
        {{- if $input.startDate }}
        {{ partial "countdown.html" (dict "targetDate" $input.startDate) }}
    {{- end }}
    

        {{- partial "cta/button.html" (dict "eventbriteId" $input.eventbriteId "ctaUrl" $input.ctaUrl) }}
    </div> -->
</section>
