{{ $input := . }}


<div class="section-container">
    <section
        class="section section--long featured-judges"
        {{ with T "featured_judges_section.heading" }}
            aria-label="{{ . }}"
        {{ end }}>
        <h1 class="heading heading--highlighted heading--centered">
            {{ T "featured_judges_section.heading" }}
        </h1>
        <h2 class="heading heading--2 heading--centered">
            {{ T "featured_judges_section.subheading" }}
        </h2>
        <ul
            class="featured-judges__menu"
            {{- with (T "featured_judges_section.heading") }}
                aria-label="{{ . }}"
            {{- end }}>
            {{- range $index, $judge := $input.judges }}
                <li aria-label="{{ $judge.name }}">
                    {{- partial "judge-card.html" (
                        dict
                        "profileUrl" $judge.profileUrl
                        "avatarResource" $judge.avatarResource
                        "name" $judge.name
                        "description" $judge.description
                        "linkedinUrl" $judge.linkedinUrl
                        "xUrl" $judge.xUrl
                        "companyUrl" $judge.companyUrl
                        )
                    }}
                </li>
            {{- end }}
        </ul>

        {{- with $input.judgesUrl }}
            <a href="{{ . }}" class="button button--outlined">
                {{ T "featured_judges_section.action" }}
            </a>
        {{- end }}
    </section>
</div>
