.our-sponsors {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our-sponsors__list {
    all: unset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.4rem;
    width: 100%;
}

.our-sponsors__list-item {
    width: calc(25% - 1.4rem);
    margin-bottom: 1.875rem;
    box-sizing: border-box;
    text-align: center;
}

.our-sponsors__list-item .sponsor__logo {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .our-sponsors__list {
        display: block;
    }
    .our-sponsors__list-item {
        width: 95%;
        margin: 0 auto 4rem;
    }
}
